{% extends 'base.html' %}

{% block content %}

    <center>
    <h1>PJI110 – Projeto Integrador em Computação III</h1> 
    <br/><br/>
    <h2>Titulo</h2>
    <br/>
    <p>Desenvolvimento de um sistema de check-in para monitoramento de presença de alunos do ensino fundamental </p>

    <h2>Objetivo</h2>
    <br/>
    <p>Automatização do sistema de verificação de presença dos alunos, garantindo a precisão dos dados através de um check-in de acesso com leitor RFID. </p>

    </center>

{% endblock %}