{% extends 'base.html' %}

{% block content %}

    <center>
    <h1>PJI110 – Projeto Integrador em Computação I</h1> 
    <br/><br/>
    <h2>Titulo</h2>
    <br/>
    <p>Controle de Acesso dos Alunos através de um gerenciamento de check-in com leitura biométrica</p>

    <h2>Objetivo</h2>
    <br/>
    <p>Automatização do sistema de verificação de presença dos alunos, garantindo a precisão dos dados através de um check-in de acesso com leitura biométrica. </p>

    </center>

{% endblock %}